@model MTC.JMICS.Models.DB.AfterActionReport

<div class="modal fade dragModal" id="AfterActionReportModal" role="dialog" aria-labelledby="AfterActionReportModalLabel" aria-hidden="true">
    <div class="drag-modal-dialog modal-dialog-form modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header drag-modal-header">
                <h5 class="modal-title" id="AfterActionReportModalLabel">After Action Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body modal-body-custom">
                <form method="post" id="frmAfterActionReport">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <input id="hdnSubscriberId" type="hidden" value="@Model.SubscriberId" />
                    <input id="hdnActionAddresse" type="hidden" value="@Model.AddressedTo" />
                    <input id="hdnCOIType" type="hidden" value="@Model.COITypeId" />
                    <input id="hdnThreat" type="hidden" value="@Model.NatureOfThreatId" />
                    <input type="hidden" asp-for="PRId" />
                    <input type="hidden" asp-for="COIId" />
                    <input type="hidden" asp-for="DRId" />
                    <div class="kt-scroll kt-scroll-custom" data-scroll="true" data-height="388">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label class="col-form-label">Initiator:</label>
                                <select id="drpSubsList" class="form-control" asp-for="SubscriberId" disabled></select>
                            </div>
                            <div class="col-lg-6">
                                <label class="col-form-label">Addressed To:</label>
                                <select id="drpMultiAct" class="form-control" asp-for="AddressedToArray" multiple="multiple" disabled></select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class=" col-lg-6">
                                <label class="col-form-label">Time of Initiation:</label>
                                <input type="date" class="form-control" asp-for="InitiationDatetime" />
                                <span asp-validation-for="InitiationDatetime" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6">
                                <label class="col-form-label">COI Activation Time:</label>
                                <input type="date" class="form-control" asp-for="COIActivationDateTime" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label class="col-form-label">COI Type:</label>
                                <select id="drpCOITypes" class="form-control" asp-for="COITypeId"></select>
                                <span asp-validation-for="COITypeId" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6">
                                <label class="col-form-label">Nature Of Threat:</label>
                                <select id="drpNatureOfThreats" class="form-control" asp-for="NatureOfThreatId"></select>
                                <span asp-validation-for="NatureOfThreatId" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="form-group row"><div class="col-lg-12 m-0"><label class="col-form-label">Initial Reported Position</label></div></div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label class="col-form-label">Latitude:</label>
                                <input type="text" class="form-control" id="lat" asp-for="InitialReportedLatitude">
                            </div>
                            <div class="col-lg-6">
                                <label class="col-form-label">Longitude:</label>
                                <input type="text" class="form-control" id="lon" asp-for="InitialReportedLongitude">
                            </div>
                        </div>

                        <div class="form-group row initialAARTrFields">
                            <div class="col-lg-4">
                                <label class="col-form-label">MMSI:</label>
                                <input type="text" class="form-control" id="immsi" asp-for="InitialReportedMMSI">
                            </div>
                            <div class="col-lg-4">
                                <label class="col-form-label">Course:</label>
                                <input type="text" class="form-control" id="course" asp-for="InitialReportedCourse">
                            </div>
                            <div class="col-lg-4">
                                <label class="col-form-label">Speed:</label>
                                <input type="text" class="form-control" id="speed" asp-for="InitialReportedSpeed">
                            </div>
                            
                        </div>

                        <div class="form-group row"><div class="col-lg-12 m-0"><label class="col-form-label">Last Reported Position</label></div></div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label class="col-form-label">Latitude:</label>
                                <input type="text" class="form-control" id="lat" asp-for="LastReportedLatitude">
                            </div>
                            <div class="col-lg-6">
                                <label class="col-form-label">Longitude:</label>
                                <input type="text" class="form-control" id="lon" asp-for="LastReportedLongitude">
                            </div>
                        </div>

                        <div class="form-group row lastAARTrFields">
                            <div class="col-lg-4">
                                <label class="col-form-label">MMSI:</label>
                                <input type="text" class="form-control" id="lmmsi" asp-for="LastReportedMMSI">
                            </div>
                            <div class="col-lg-4">
                                <label class="col-form-label">Course:</label>
                                <input type="text" class="form-control" id="course" asp-for="LastReportedCourse">
                            </div>
                            <div class="col-lg-4">
                                <label class="col-form-label">Speed:</label>
                                <input type="text" class="form-control" id="speed" asp-for="LastReportedSpeed">
                            </div>
                           
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label class="col-form-label">Info Confidence Level:</label>
                                <select id="drpConfiLvlTypes" class="form-control" asp-for="InfoConfidenceLevelId"></select>
                            </div>
                            <div class="col-lg-6">
                                <label class="col-form-label">Sources of Info:</label>
                                <input type="text" class="form-control" asp-for="SourcesOfInfo">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label class="col-form-label">Pre-action Preparations/Considerations:</label>
                                <textarea class="form-control" asp-for="PreActionPreparations"></textarea>
                            </div>
                            <div class="col-lg-6">
                                <label class="col-form-label">Chronological Summary of Action/Response:</label>
                                <textarea class="form-control" asp-for="ChronologicalSummary"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label class="col-form-label">Achieved End State:</label>
                                <textarea class="form-control" asp-for="AchievedEndState"></textarea>
                            </div>
                            <div class="col-lg-6">
                                <label class="col-form-label">Type of Support from Others:</label>
                                <textarea class="form-control" asp-for="TypeOfStakeholdersSupport"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label class="col-form-label">Overall Assessment:</label>
                                <textarea class="form-control" asp-for="OverallAssessment"></textarea>
                            </div>
                            <div class="col-lg-6">
                                <label class="col-form-label">Recommendations:</label>
                                <textarea class="form-control" asp-for="Recommendations"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label class="col-form-label">Remarks:</label>
                                <textarea class="form-control" asp-for="Remarks"></textarea>
                                <span asp-validation-for="Remarks" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Generate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--begin::Page Scripts(used by this page) -->
<script src="~/Matronic/assets/js/demo1/scripts.bundle.js" type="text/javascript"></script>
<script src="~/Matronic/assets/js/demo1/pages/crud/forms/widgets/select2.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<!--end::Page Scripts -->

<script>
    $("#frmAfterActionReport").submit(function (event) {
         enableInputs();
        let formData = new FormData(this);
        fetch('Canvas?handler=AAR', {
            method: 'post',
            body: new URLSearchParams(formData),
            headers: {
                RequestVerificationToken:
                    $('input:hidden[name="__RequestVerificationToken"]').val()
            }
        }).then(function (response) {
            if (response.status === 200) {
                $('.modal').modal('hide');
            }
        });
        disableInputs();
        return false;
        event.preventDefault();
    });
</script>
